#root {
  height: 100%;
}

.umi-plugin-layout-right .ant-dropdown-trigger .ant-avatar:nth-child(1) {
  margin-right: 8px;
}

.ant-pro-sider-menu-sider.fix-sider-bar.ant-layout-sider.ant-layout-sider-dark {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35)
}

.umi-plugin-layout-right .ant-dropdown-trigger:hover {
  background: rgba(0, 0, 0, 0.025);
}
